<!DOCTYPE html>

<head>
	<title>Remindio</title>
	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">

	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">

	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">

	</script>
	<script src="{{url_for('static', filename='index.js')}}">

	</script>
	<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js">

	</script>

	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
	<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Favicon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	<nav class="navbar1">
		<span class="navbar-brand mb-0 h1">Remindio - <strong>for students, by students.</strong></span>
  </nav>

 
</head>
<body>
 
  <section class="card">
    <div class="title"> 
      <h1 style="text-align: center;">Welcome to Remindio!</h1>
      <p style="color: black; text-align: center;"><em>Personalized, beautiful, and free!</em></p>
    </div>

  </section>
<!-- 
  <section class = "additems">
    <a href="#scrolling" class="hero-btn">See below for your customized list</a>


    

  </section> -->
  
  <section class="card">
    <div id="myDIV" class="header">
      <h2 style="margin:5px;color:rgb(0, 186, 243);">My To-Do List</h2>
      <input type="text" id="myInput" placeholder="name of task..." >
      <button role="createtodo"class="btn btn-info addBtn" style="border-radius:8px;color:rgb(0,186,243);">Add task</button>
    </div>
    </section>

  {% for row in todos %}
    <section class="card">
    <table>
    
        <tr {% if row[2] == 1 %} class="table-success" {% endif %}>
            <td>
                {% if row[2] == 0 %}
                <input type="checkbox" id="taskToggleCheckbox" checked data-toggle="toggle" data-onstyle="warning"
                    data-offstyle="success" data-on="Pending" data-off="Done">
                {% endif %}
                {% if row[2] == 1 %}
                <input type="checkbox" id="taskToggleCheckbox" data-toggle="toggle" data-onstyle="warning"
                    data-offstyle="success" data-on="Pending" data-off="Done">
                {% endif %}
          </td>
          <td>
                
            <h3 class = "label" style="color:black">{{ row[0] }}</h3>
            
          </td>
            
            
        </tr>
        </table>
    </section>
    {% endfor %}
    

<!-- <img id="theImage" src="{{url_for('static', filename='Cat.jpeg')}}"> -->
  
<!-- <a href="#" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">show cat</a>
<a href="#" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">show dog</a>
<img id="theImage2" src="{{url_for('static', filename='dog.png')}}"> -->



<!-- 
<button onclick="myFunction1()">toggle blue/green mode</button> -->
  <!-- <section class="card">
    <h1> Here are some reviews from our customers!</h1>
    <
  </section> -->
</body>
<html>